{% extends "layout.html" %}
{% load static %}

{% block content %}


<div class="p-5">
    <img class="img-fluid" src="{% static 'three_sisters.jpg' %}" alt="">
</div>
<p class="text p-2">Welcome to Myanmar Art Gallery! We're your go-to place for all kinds of awesome art straight from
    Myanmar. Back in
    1996, my
    mom and aunts kickstarted the gem art side of things, and now, with some new vibes, we're expanding. We're teaming
    up
    with cool local dealers to bring you a bunch of amazing stuff. From the fancy gem art, a tradition started by our
    family, to all sorts of colorful and cool art from local artists, our collection is like a snapshot of Myanmar's
    creativity. Each piece tells a story of skill and heart from this awesome country. Come along with us as we share
    the
    beauty of Myanmar's art with you through Myanmar Art Gallery!</p>


{% endblock %}